table {
  width: 100% !important;
  border: 1px solid #ccc;
  border-collapse: collapse;
  font-size: 0.7rem !important;
  table-layout: auto;
}

table > thead > tr {
  font-weight: 300; color:white;
  background-color: #4051b5;
}

table th {
    border-right: 1px solid #fff !important;
    padding: 5px;
    text-align: left;
    vertical-align: top;
}

table th:last-child {
  border-right: none;
}

table td {
    border: 1px solid #ccc !important;
    padding: 5px;
    text-align: left;
    vertical-align: top;
}

.table-dark td,
.table-dark > tbody > tr > th {
    border: 1px solid #ccc !important;
}

.table-dark > thead > tr > th:first-child {
  border-top: 1px solid #ccc !important;
  border-left: 1px solid #ccc !important;
}

.table-dark > thead > tr > th:not(:first-child):not(:last-child) {
  border-top: 1px solid #ccc !important;
}

.table-dark > thead > tr > th:last-child {
  border-top: 1px solid #ccc !important;
  border-right: 1px solid #666 !important;
}
